/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: 'Maven Pro', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

body {
   height: 100vh;
   /* background-image: radial-gradient(circle farthest-corner at -3.1% -4.3%, rgba(57,255,186,1) 0%, rgba(21,38,82,1) 90%);  */
   background-color: #fff;
   
}

.wrapper {
    height: 100vh;
}

.myColor{
    /* background-image: linear-gradient(to right, #f83600 50%, #f9d423 150%); */
    background-color: #0dcaf0;
}

.myTitleColor{
    color: #0dcaf0;
}

.myLinkColor{
    color: #0dcaf0;
    text-decoration: none;
}

/* Sombreado de caja hacia abajo */
.myShadow{
    box-shadow: 0 5px 10px #111;
}

.myBtn{
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    /* background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
    background-color: #0dcaf0;;
    border: none;
}

.myBtn:hover{
    background-image: linear-gradient(to right, #495aff  0%, #0acffe 100%);
 
}

.myHr{
    height: 2px;
    border-radius: 100px;
}

.myLinkBtn{
    border-radius: 100px;
    /* width: 50%; */
    border: 2px solid #fff;
}

.hide-form {
    display: none;
}



@media (max-width: 768px) {
    .wrapper{
        margin: 2px;
        width: 90vw;
    }

    .small-screen {
        display: none;
    }
    
}
